/* var setting */
:root {
    --main-bg-color: #f5f5f5;
    --main-text-color: #040404;
    --sub-text-color: #c3c3c3;
    --footer-color: #232323;
    --content-url-color: #c7c7c7;
    --accent-color: #1c6888;

    --work-content-size: 300px;
}

/* common setting */
* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab", "Zen Kaku Gothic New", serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

/* header */
.header {
    background: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.0rem 0;
    color: var(--main-text-color);
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; */
}

.site-name {
    font-size: 2.5rem;
    padding-left: 3.0rem;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
}

.nav li {
    padding: 0 2.0rem;
}

.nav li a {
    font-size: 2.5rem;
    color: var(--main-text-color);
    padding-right: 10px;
    transition: color 0.3s ease;
}

.nav li a:hover {
    color: var(--main-bg-color);
    background-color: var(--accent-color)
}

/* p5-canvas */
.first-view {
    position: relative;
}

.title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 10.0rem;
    color: #040404;
    padding: 5px 40px;
    margin-bottom: 30px;
}

.sub-title {
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 3.0rem;
    color: #040404;
    padding: 5px 20px;
}

/* footer */
.footer {
    background: var(--main-text-color);
    color: var(--sub-text-color);
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
}

.footer-text {
    font-size: 2.5rem;
    margin-bottom: 1.0rem;
}

.footer-description {
    font-size: 2.0rem;
}

.sns-box{
    display: flex;
    align-items: center;
}

.sns-icon {
    width: 40px;
    margin: 0 20px;
}

/* ----------------------------------- */
/* index.html */

/* event-info */
.evebt-info{
    background: white;
    color: var(--main-text-color);
    padding: 7.0rem 10%;
    text-align: center;
}

.section-title {
    font-size: 4.0rem;
    margin-bottom: 4.0rem;
}

.section-text {
    font-size: 3.0rem;
    margin-bottom: 2.0rem;
    line-height: 5.0rem;
}

.section-text a {
    color: var(--accent-color);
    border-bottom: #1c6888 solid 1px;
}

/* ----------------------------------- */
/* theme.html */

.theme-gallery {
    padding: 30px 8%;
}

.theme-box {
    margin-bottom: 80px;
}

.date-txt{
    font-size: 4.0rem;
    margin-bottom: 2.0rem;
    background: var(--main-text-color);
    color: var(--main-bg-color);
    display: inline-block;
    padding: 0 40px 0 10px;
}

.theme-txt {
    font-size: 5.0rem;
    margin-bottom: 2.0rem;
}

.theme-description{
    font-size: 2.5rem;
    margin-bottom: 2.0rem;
}

/* ----------------------------------- */
/* event.html */

.event-gallery {
    padding: 30px 100px;
}

.event-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.event-date-txt {
    font-size: 4.0rem;
    margin-bottom: 2.0rem;
    background: var(--accent-color);
    color: var(--main-bg-color);
    display: inline-block;
    padding: 0 40px 0 10px;
}

.event-title {
    font-size: 5.0rem;
    margin-bottom: 2.0rem;
}

.event-description {
    font-size: 2.5rem;
    margin-bottom: 2.0rem;
    line-height: 3.5rem;
}

.event-txt-box{
    width: 60%;
}

.event-sns-box {
    width: 30%;
}

/* ----------------------------------- */
/* loading */

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: var(--main-bg-color);
    text-align: center;
    color: #fff;
}

/* Loading画像中央配置 */
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定 */
#splash_logo img {
    width: 200px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------- */
/* scroll-up */
/*リンクの形状*/
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--footer-color);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.0rem;
    transition: all 0.3s;
}

#page-top a:hover {
    background: var(--accent-color);
}

/*リンクを右下に固定*/
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove {
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*　下に下がる動き　*/

#page-top.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(100px);
    }
}

/* ----------------------------------- */
/* responsive */

@media screen and (max-width: 480px) {
    .header-info {
        display: none;
    }

    .title {
        font-size: 5.0rem;
    }

    .sub-title {
        font-size: 2.0rem;
    }

    .section-title {
        font-size: 3.0rem;
    }

    .section-text {
        font-size: 2.0rem;
    }

    .date-txt {
        font-size: 2.7rem;
    }

    .theme-txt {
        font-size: 3.5rem;
    }

    .theme-description {
        font-size: 2.5rem;
    }

    .footer {
        padding: 10px 10%;
    }

    .footer-text {
        font-size: 2.0rem;
    }

    .sns-icon {
        width: 30px;
    }

    .event-box {
        display: block;
    }

    .event-gallery {
        padding: 30px 50px;
    }

    .event-txt-box {
        width: 80%;
    }

    .event-sns-box {
        width: 60%;
    }

    .event-date-txt {
        font-size: 3.0rem;
    }

    .event-title {
        font-size: 3.5rem;
    }

    .event-description {
        font-size: 2.0rem;
    }
}